<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ulla.modules.business.mapper.PrivacyMapper">
    <select id="pageList" resultType="com.ulla.modules.business.qo.PrivacyQo">
        SELECT id,
               title,
               content,
               create_time,
               update_time,
               operator_uid,
               status_type,
               sort,
               form
        from sys_privacy ${ew.customSqlSegment}

    </select>
</mapper>